.event-tile-content {
  display: flex;
  align-items: center;
  background-color: rgb(171, 183, 196);
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 8px;
  line-height: 1;
  border-radius: 4px;
  font-size: 14px;
}

.event-tile-content[data-continuous-end="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.event-tile-content[data-continuous-start="true"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-event {
  background-color: #f45a121e;
  pointer-events: none;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #fe011f46;
  font-weight: 500;
  align-items: center;
}

.calendar {
  width: 90vw;
  height: 80vh;
}
