.event-tile-content {
  display: flex;
  align-items: center;
  background-color: rgb(171, 183, 196);
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 8px;
  line-height: 1;
  border-radius: 4px;
  font-size: 14px;
}

.event-tile-content[data-continuous-end="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.event-tile-content[data-continuous-start="true"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.month-view-tile {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 20px;
  width: 100%;
  padding: 2px 4px;
  line-height: 1;
  border-radius: 3px;

  background-color: #dae4fb9a;
  white-space: nowrap;
  overflow: hidden;

  cursor: pointer;

  .content {
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    width: calc(100% - 10px);
  }
  .icon {
    width: 10px;
    flex-shrink: 0;
  }

  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    color: #356beb;
    font-size: 11px;
    font-weight: 600;
  }

  .time {
    margin-left: auto;
    font-size: 10px;
    color: #929292;
  }

  &:hover {
    background-color: #dae4fb;
  }
}

.tile-vertical-bar {
  height: 80%;
  border-radius: 10px;
  background-color: #356beb;
  flex: 0 0 2.5px;
}
