.monthLayout {
  display: flex;
  flex-flow: column nowrap;
  max-height: var(--max-view-height);
}

.monthHeader {
  width: 100%;
  display: flex;
  background-color: var(--month-header-background);
  text-align: right;

  .headerItem {
    flex: 1;
    padding: 8px;
  }
}

.monthWeeks {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.monthWeek {
  display: grid;
  grid-template-columns: 1fr;

  .weekDays,
  .weekEventsOverlay {
    display: grid;
    grid-template-columns: repeat(7, minmax(calc(100% / 7), 1fr));
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
  }

  .weekDays {
    min-height: var(--day-grid-cell-min-height);
  }

  .weekEventsOverlay {
    pointer-events: none;
    margin: var(--day-grid-events-overlay-margin-top) 0
      var(--day-grid-events-overlay-margin-bottom) 0;
    overflow: hidden;
  }
}

.monthWeek {
  --separator-thickness: 1px;
  --separator: calc(var(--separator-thickness) / 2) solid var(--separator-color);

  &:first-child .dayCell {
    border-bottom: var(--separator);
  }

  &:last-child .dayCell {
    border-top: var(--separator);
  }

  &:not(:first-child):not(:last-child) .dayCell {
    border-top: var(--separator);
    border-bottom: var(--separator);
  }

  .dayCell:not(:first-child) {
    border-left: var(--separator);
  }

  .dayCell:not(:last-child) {
    border-right: var(--separator);
  }

  &:not(:first-child):not(:last-child) {
    .dayCell:not(:first-child) {
      border-left: var(--separator);
    }

    .dayCell:not(:last-child) {
      border-right: var(--separator);
    }
  }
}

.dayCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--slot-background);

  &:hover {
    background-color: var(--slot-hover-background);

    .dayCellInfo {
      background-color: var(--slot-hover-background);
    }
  }

  &Info {
    width: 100%;
    padding: 6px 12px;
    height: 32px;
    position: sticky;
    top: 0;
    text-align: right;
    background-color: var(--slot-background);
  }
}

.eventTile {
  pointer-events: all;
  margin: var(--tile-gap) calc(var(--tile-gap) + 1px);
}
